<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/smart_alarm_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smart_alarm_ic_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAlarm"
        tools:targetApi="31">
        <activity
            android:name=".AlarmMusicActivity"
            android:exported="false"
            android:label="@string/title_activity_alarm_music"
            android:theme="@style/Theme.SmartAlarm" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.SmartAlarm" />
        <activity
            android:name=".MeditationActivity"
            android:exported="false"
            android:label="@string/title_activity_meditation"
            android:theme="@style/Theme.SmartAlarm" />
        <activity
            android:name=".StatsActivity"
            android:exported="false"
            android:label="@string/title_activity_stats"
            android:theme="@style/Theme.SmartAlarm" />
        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAlarm" />
        <activity
            android:name=".RepeatActivity"
            android:exported="false"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAlarm" />
        <activity
            android:name=".AlarmMenu"
            android:exported="false"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAlarm" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAlarm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>